@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

:root{
  --cor-fundo: #ffffff17; 
  --cor-principal: #e2e2e26e; 
  --cor-secundaria: #d11e1e; 
  --cor-destaque: #ff4343; 
  --cor-texto: #000000; 
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background: url("bg.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--cor-texto);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.caixa-principal{
  background-color: var(--cor-principal);
  width: 90%;
  max-width: 600px;
  text-align: center;
  padding: 40px 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.caixa-perguntas {
  text-align: justify;
  width: 90%;
  margin: 0 auto;
  font-size: 16px;
  margin-top: 20px;
  line-height: 1.5;
}

.caixa-alternativas {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 40px;
}

h1{
  color: var(--cor-secundaria);
  font-weight: bold;
  margin-bottom: 20px;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.411);
}

button {
  background-color: var(--cor-destaque);
  border: 1px solid var(--cor-secundaria);
  padding: 10px 20px;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 5px;
}

button:hover {
  background-color: var(--cor-secundaria);
}
